.checkbox-container {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    width: 100%;
    min-height: 50vh;
    margin-top: 20px;
    border-radius: 6px;
    
    
}