

.textField-container
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #9155fd;
}

.textField-container .MuiOutlinedInput-input {
  color: rgba(58, 53, 65, 0.87);
  border-radius: 6px 0px 0px 6px;
  position: relative;
}

.textField-container .MuiInputLabel-outlined.Mui-focused {
  color: #9155fd;
}
.textField-container .MuiOutlinedInput-root:hover {
    border-color: #9155fd;
}