.footer-container {
  border: 1px solid #333;
  margin-top: 10px;
  width: 100%;
  .footer-wrapp {
    .footer-top {
      display: flex;
      padding: 100px 264px;
      background-color: #111111;
      @media (max-width: 785px) {
        padding: 50px 20px;
        flex-direction: column;
        gap: 30px;
      }
      .footer-top__items1 {
        flex-grow: 6;
        width: min-content;
        gap: 25px;
        display: flex;
        flex-direction: column;
        @media (max-width: 785px) {
          width: fit-content;
        }
        h2 {
          margin-bottom: 0 !important;
        }
        .footer-title {
          color: #fff;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 25px;
          text-transform: uppercase;
        }
        .footer-text {
          color: #a4a4a4;
          font-size: 16px;
          line-height: 40px;
          max-width: 390px;
          width: fit-content;
        }
        .footer-social {
        }
      }
      .footer-top__items2 {
        flex-grow: 2;
        width: min-content;
        gap: 25px;
        display: flex;
        flex-direction: column;
        @media (max-width: 785px) {
          width: fit-content;
          margin-top: -30px;
        }
        .footer-title {
          color: #fff;
          font-size: 15px;
          font-weight: 500;

          text-transform: uppercase;
        }
        span {
          color: #a4a4a4;
          font-size: 16px;
          transition: all 0.4s ease 0s;
          &:hover {
            cursor: pointer;
            color: #9155fd;
            padding-left: 3px;
          }
        }
      }
      .footer-top__items3 {
        flex-grow: 2;
        width: min-content;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: end;
        @media (max-width: 785px) {
          width: fit-content;
          align-items: baseline;
        }
        .footer-title {
          color: #fff;
          font-size: 15px;
          font-weight: 500;

          text-transform: uppercase;
        }
        span {
          color: #a4a4a4;
          font-size: 16px;
          transition: all 0.4s ease 0s;
          &:hover {
            cursor: pointer;
            color: #9155fd;
            padding-left: 3px;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 5px;
      background-color: #010101;
      @media (max-width: 785px) {
        gap: 30px;
      }
      span {
        color: #ffffff;
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}
