.home-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(145px, auto);
  width: 100%;
  margin-top: 20px;
  .box {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 3px;
  }
  .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    grid-row: span 1;
    position: relative;
    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .top {
        .title {
          font-size: 18px;
        }
        .descriptions {
          margin: 0;
          font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-weight: 400;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.15px;
          color: rgba(58, 53, 65, 0.68);
          letter-spacing: 0.25px;
        }
      }
      .result {
        font-size: 19px;
        font-weight: 500;
        color: #9155fd;
      }
      .btn {
        background-color: #9155fd;
      }
    }
    .right {
      position: absolute;
      top: 30%;
      right: 14%;
    }
  }

  .box2 {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
          font-size: 18px;
        }
        .descriptions {
          margin: 0;
          font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-weight: 400;
          font-size: 15px;
          line-height: 1.5;
          letter-spacing: 0.15px;
          color: rgba(58, 53, 65, 0.68);
          letter-spacing: 0.25px;
        }
      }
      .right {
        .icon {
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            background-color: #e3e3e3;
            border-radius: 50%;
          }
        }
      }
    }

    .result {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        gap: 10px;
        align-items: center;
        .left {
          padding: 5px;
          border-radius: 5px;
          color: #fff;
        }
        .right {
          display: flex;
          flex-direction: column;

          .title {
            font-size: 11px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(58, 53, 65, 0.68);
            letter-spacing: 0.25px;
          }
          .summary {
            font-size: 18px;
          }
        }
      }
    }
  }
  .box5,
  .box6,
  .box7,
  .box8 {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .icon {
        color: #fff;
        padding: 5px 5px;
        width: 52%;
        border-radius: 15px;
      }
      .title {
        font-size: 13px;
      }
      .number {
        position: relative;
        .amount {
          font-size: 15px;
        }
        .percent {
          position: absolute;
          font-size: 10px;
          color: green;
        }
      }
      .time {
        font-size: 10px;

        line-height: 1.66;
        letter-spacing: 0.4px;
        color: rgba(58, 53, 65, 0.68);
      }
    }
    .right {
      .icon {
        padding: 2px;
        transition: all 0.3s linear;
        &:hover {
          cursor: pointer;
          background-color: #e3e3e3;
          border-radius: 50%;
        }
      }
    }
  }
  .box3,
  .box4,
  .box9 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .box10 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .box11 {
    grid-column: span 6;
    grid-row: span 2;
  }
  .box9,
  .same {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .top {
      display: flex;
      justify-content: space-between;

      .left {
        Image {
          margin-right: 2px;
        }
        .title {
          font-size: 16px;
          color: #090707;
        }
      }
      .right {
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        align-items: center;
        gap: 12px;
        .avatar {
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .amount {
            font-size: 15px;
            font-weight: 500;
            display: flex;
            gap: 10px;
            .price {
              font-size: 13px;
            }
            .percent {
              font-size: 12px;
              color: rgb(129, 209, 9);
            }
            .red {
              color: red;
            }
          }
          .country {
            font-size: 10px;
            color: #afa7a7;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .result {
          font-size: 14px;
          font-family: 700;
        }
        .red {
          color: red;
          font-size: 13px;
          font-weight: 600;
        }
        .green {
          font-size: 13px;
          color: #28df28;
          font-weight: 600;
        }
        .title {
          font-size: 10px;
          color: #d8c5c5;
        }
      }
    }
  }
  .box10 {
    .same {
      gap: 20px;
    }
    /* Hoặc nếu bạn muốn đặt đường gạch ngăn cách bên trái của grid item đầu tiên */
    .same:first-child {
      padding-right: 20px;

      border-right: 1px solid #ccc; /* Đường gạch ngăn cách bên trái */
    }
    .top {
      .action {
        font-size: 10px;
        color: #9b9b9b;
      }
    }
  }
  @media only screen and (max-width: 505px) {
    grid-template-columns: repeat(4, 1fr); /* Đặt chỉ một cột cho grid */
    .box {
      border-radius: 5px;
      padding: 15px;
      border: 1px solid #ccc;
      margin: 3px;
    }

    .box2,
    .box1 {
      grid-column: span 4;
      grid-row: span 1;
    }
    .box3,
    .box4,
    .box9 {
      grid-column: span 4;
      grid-row: span 2;
    }
    .box5,
    .box6,
    .box7,
    .box8 {
      grid-column: span 2;
      grid-row: span 1;
    }
    .box10 {
      grid-column: span 4;
      grid-row: span 4;
    }
    .box11 {
      grid-column: span 4;
      grid-row: span 3;
    }
  }
}
