.header-container {
  width: auto;
  flex-direction: column;
  z-index: 1;
  .top {
    display: flex;
    justify-content: space-between;

    max-height: 80px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 10px 0;
    }
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        @media (max-width: 768px) {
          Img {
            width: 55px;
            height: 31px;
          }
        }
      }
      .icon-menu {
        display: none;
      }
    }
    .menu-container {
      min-width: 1092px;
      margin-right: 0;
      @media (max-width: 768px) {
        display: none;
      }
      .menu-list {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        .menu-items::after {
          content: "";
          position: absolute;
          bottom: -20px;
          /* background-color: #0c1923; */
          height: 35px;
          width: 106px;
        }
        .menu-items {
          width: 100%;
          height: 100%;
          /* text-align: center; */
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          transition: all 0.3s ease-out 0s;
          position: relative;
          .pcMenuSub-container {
            display: none;

            box-shadow: rgba(58, 53, 65, 0.56) 0px 6px 18px -8px;
            width: 650px;
            height: 367px;
            background-color: #e9e9ec;
            position: absolute;
            top: 83px;
            z-index: 1;
            padding: 30px;

            cursor: auto;
            .pcMenuSub-list {
              display: flex;
              justify-content: space-between;
              .pcMenuSub-items {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .pcMenuSub-title {
                  font-size: 20px;
                  margin-bottom: 10px;
                  border-bottom: 2px solid #333;
                  width: fit-content;
                  text-transform: uppercase;
                }
                span {
                  color: #333;
                  font-size: 15px;
                  font-weight: 400;
                  text-align: left;
                  font-family: Arial, Helvetica, sans-serif;
                  transition: all 0.3s;
                  &:hover {
                    color: #9155fd;
                    .pcMenuSub-title {
                      color: #9155fd;
                    }
                  }
                }
              }
            }
          }
          &:hover {
            .icon {
              color: #9155fd;
              cursor: pointer;
              font-weight: 600;
            }

            .menu__item-link {
              color: #9155fd;
              cursor: pointer;
              font-weight: 600;
            }
            .pcMenuSub-container {
              display: inline-block;
              animation-name: menuAnimationPc;
              animation-duration: 0.4s;
            }
            @keyframes menuAnimationPc {
              from {
                opacity: 0;
                transform: translateY(10%);
              }
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
            .subMenu-container {
              display: inline-block;
              animation: subMenuAnimationPc;
              animation-duration: 0.4s;
            }
            @keyframes subMenuAnimationPc {
              from {
                opacity: 0;
                transform: translateY(10%);
              }
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
          .menu__item-link {
            font-size: 16px;
            color: #333333;
            line-height: 80px;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            transition: all 0.3s ease-out 0s;
          }
        }
      }
    }
    .right-container {
      display: flex;
      align-items: center;
      gap: 10px;
      .right-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .menuIcon {
          display: none;
          @media (max-width: 785px) {
            color: #333;
            display: block;
          }
        }
      }
    }
  }
  .mobile-menuContainer {
    display: none;
    width: 100%;
    background-color: #0c1923;
    margin-bottom: 10px;
    @media (max-width: 758px) {
      animation-name: animationOpenMenu;
      animation-duration: 0.4s;
      animation-direction: normal;
    }

    .mobile-menuList {
      display: flex;
      flex-direction: column;
      max-height: 278px;
      overflow-y: auto;
      .mobile-menuItems {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 14px 16.75px;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        .mobile-menuItem {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: space-between;
          .left {
            gap: 5px;
          }
        }
      }
      .subMobileMenu-container {
        display: flex;
        flex-direction: column;
        animation-name: animationSubMenu;
        animation-duration: 0.6s;
        .subMobileMenu-items {
          padding: 14px 0px 14px 31px;

          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          span {
            text-transform: uppercase;
            color: #fff;
            opacity: 0.75;
            font-size: 14px;
          }
        }
        // .subMobileMenu-items:last-child {
        //   border-bottom: none !important;
        // }
      }
    }
  }
  .active {
    display: block;
  }
  @keyframes animationOpenMenu {
    from {
      height: 0;
    }
    to {
      height: 278px;
    }
  }
  @keyframes animationSubMenu {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 300px;
      opacity: 1;
    }
  }
}
@media (max-width: 500px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      .icon-menu {
        display: inline;
      }
      .search-field {
        width: 70%;
      }
      .search-icon {
        top: 32%;
        left: 49px;
      }
    }
  }
}
