.center {
    text-align: -webkit-center !important;
}

.table-container {

    ::-webkit-scrollbar {
        width: 1px;
    }

    .grid-container {
        .floor-container {
            width: 100%;

            .floor {
                padding: 10px;
                background: #fcfcfc;
                border-top: 1px solid #e6eafd;
            }

            .bg-gray {
                background-color: #f4f5fa;
            }

            .bg-empty {
                background-color: rgb(244, 17, 24) !important;
                /* Màu cho trạng thái "đang trống" */
            }

            .bg-rent {
                background-color: rgba(86, 202, 0, 1) !important;
                /* Màu cho trạng thái "cho thuê" */
            }

            .bg-deposit {
                background-color: rgba(22, 177, 255, 1) !important;
                /* Màu cho trạng thái "đang cọc" */
            }

            .bg-return {
                background-color: rgba(145, 85, 253, 1) !important;
                /* Màu cho trạng thái "báo trả" */
            }

            .bg-return-deposit {
                background-color: rgba(145, 85, 253, 1) !important;
                background-image: linear-gradient(to bottom, rgba(145, 85, 253, .7), rgba(22, 177, 255, .7)) !important;
                /* Màu cho trạng thái "trả/cọc" */
            }

        }

        .item-wrapp {
            display: flex;

            .item-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;
                /* padding: 20px; */

                border-radius: 6px;
                margin-top: 5px;
                margin-left: 20px;
                margin-bottom: 10px;
                position: relative;
                border: 1px solid #ccc;

                .item-name {
                    border-bottom: 1px solid #ccc;
                    width: 100%;
                    text-align: center;
                    padding: 10px;
                    color: #333;
                    font-size: 16px;

                }

                .icon-action {
                    position: absolute;
                    top: 6px;
                    right: 0;
                    color: #333;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }

                .detail {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid #ccc;

                    .icon-add {
                        font-size: 40px;
                        color: #804bdf;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                    .number-people {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: #333;
                    }

                    .number-bike {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: #333;
                    }
                }

                .price {
                    padding: 10px;
                    color: #333;
                }

                .menu-container {
                    .menu-list {
                        .menu-item {}
                    }
                }
            }
        }


    }

    .fixed-cell {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        font-weight: 600;
    }

    .note-container {
        .note-wrapp {
            display: flex;
            gap: 10px;
            align-items: center;

            .note-color {
                width: 30px;
                height: 15px;
                border: 1px solid;
            }
            

            .note-content {}
        }
    }

    .css-1eb4vap-MuiPaper-root {
        width: 100% !important;
    }

    .cell-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #333;
        gap: 10px;
        width: max-content;
        

        &:hover {
            .menu-container {
                display: block;
            }
        }


        .icon-delete {
            color: red;

            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .icon-bike {
            color: #838487;
        }

        .icon-add {
            color: #804bdf;

            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .icon {
            font-size: 17px;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
        .term {
            .item {
                display: flex;
                flex-direction: row;
                padding: 0;
            }
        }
    }

    .ct {
        color: #13cb36;
    }

    .dc {
        color: #1f84d9;
    }

    .bt {
        color: #b12ce3;
    }

    .tc {
        color: rgb(91 0 255);
        width: 140px;
    }

    .icon-container {
        position: relative;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            width: 29px;
            height: 33px;
            bottom: -16px;
            right: 0;
        }

        // &:nth-last-child(-n+2):hover {
        //     .menuEdit-container {
        //         display: block;
        //         top: -80px
        //             /* Giá trị top mong muốn */
        //         ;
        //         right: 20px
        //             /* Giá trị right mong muốn */
        //         ;
        //     }
        // }



        &:hover {
            .menuEdit-container {
                display: block;

            }
        }

        .icon-edit {
            color: #804bdf;
            margin-left: 9px;
            position: relative;
            font-size: 25px;


            &:hover {
                cursor: pointer;
                opacity: 0.7;

            }
        }

        .menu-custom {
            display: none;
        }

        .menuEdit-container {
            position: absolute;
            background-color: #fff;
            right: 7px;
            z-index: 20;
            top: 16px;
            width: 100pxpx;
            display: none;
            border-radius: 6px;
            box-shadow: 0 5px 5px -3px rgba(58, 53, 65, 0.2), 0 8px 10px 1px rgba(58, 53, 65, 0.14), 0 3px 14px 2px rgba(58, 53, 65, 0.12);

            :last-child {
                top: -80px;
                right: 20px;
            }

            .menu-list {
                display: flex;
                flex-direction: column;

                .menu-item {
                    padding: 10px;
                    color: black;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &:hover {
                        background-color: #f4f5fa;
                        cursor: pointer;
                    }
                }
            }
        }

    }





    .bg-gray {
        background-color: #f4f5fa;
        padding: 16px 0px;
        font-size: 13px;
    }

    .bg-empty {
        background-color: rgb(255, 255, 255);
        /* Màu cho trạng thái "đang trống" */
    }

    .bg-rent {
        background-color: #daf9e0;
        /* Màu cho trạng thái "cho thuê" */
    }

    .bg-deposit {
        background-color: #d8ebfb;
        /* Màu cho trạng thái "đang cọc" */
    }

    .bg-return {
        background-color: #f6deff;
        /* Màu cho trạng thái "báo trả" */
    }

    .bg-return-deposit {
        background-color: rgba(145, 85, 253, 1);
        background-image: linear-gradient(145deg, rgba(246, 222, 255, 1) 54%, rgba(217, 235, 251, 1) 56%)
            /* Màu cho trạng thái "trả/cọc" */
    }
}

@media (max-width: 768px) {
    .table-container {
        padding: 10px;

        .grid-container {
            .floor-container {
                width: 50%;

                .floor {
                    width: 200%;
                }
            }

            .item-wrapp {
                flex-wrap: wrap;

                .item-container {
                    max-width: 90px;

                    .item-name {
                        font-size: 10px;
                    }

                    .icon-action {
                        font-size: 16px;
                        color: #333 !important;
                    }

                    .detail {
                        padding: 10px 0;

                        .number-people {
                            flex-direction: column;
                            gap: 0px;
                            font-size: 13px;

                            .icon-user {
                                font-size: 13px;
                            }
                        }

                        .avatar {
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                        }

                        .number-bike {
                            flex-direction: column;
                            gap: 0px;
                            font-size: 13px;

                            .icon-bike {
                                font-size: 13px;
                            }
                        }
                    }

                    .price {
                        font-size: 13px;
                    }
                }
            }


        }

        .fixed-cell {
            position: sticky;
            left: 0;
            z-index: 10;

        }

        .cell-item {
            margin-left: 7px !important;
        }

        .bg-gray {
            background-color: #f4f5fa;
        }

        .bg-white {
            background-color: white;
        }

        .bg-green {
            background-color: greenyellow;
        }

    }

}