.table-container {
    
    .css-1eb4vap-MuiPaper-root {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .table-container {
        padding: 10px;
        
        .fixed-cell {
            position: sticky;
            left: 0;
            z-index: 1;
            background-color: white;
          }
    }
    
}