.subMenu-container {
    display: none;
  position: absolute;
  top: 36px;
  left: 0px;
  width: max-content !important;
  background-color: #fff;
  .subMenu-list {
    .subMenu-items {
      display: flex;
      flex-direction: column;
      .subMenu-item {
        padding: 12px 20px;
        text-transform: capitalize;
        border-top: 1px solid #f4f4f4;
        font-size: 15px;
        font-weight: 400;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            cursor: pointer;
            background-color: rgba(58,53,65,.04);
        }
      }
    }
  }
}
