.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background-color: #f4f5fa;
  .wrapper {
    padding: 40px;
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
    .title {
      text-align: center;
      color: #9155fd;
      font-size: 26px;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      .greeting {
        display: flex;
        flex-direction: column;
        gap: 6px;
        h2 {
          font-size: 20px;
          color: rgba(58, 53, 65, 0.87);
        }
        span {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.15px;
          color: rgba(58, 53, 65, 0.68);
          text-align: start;
        }
      }
      .form-container {
        display: flex;
        flex-direction: column;

        .form-control {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .custom-textfield
            .MuiOutlinedInput-root.Mui-focused
            .MuiOutlinedInput-notchedOutline {
            border-color: #9155fd;
          }

          .custom-textfield .MuiOutlinedInput-input {
            color: #000000; /* Màu văn bản khi không focus */
          }

          .custom-textfield .MuiInputLabel-outlined.Mui-focused {
            color: #9155fd;
          }
        }
      }

      .btn-login {
        background-color: #9155fd;
        height: 45px;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.9;
        }
      }
      span {
        line-height: 15px;
        text-align: center;
        margin-top: 10px;
        color: rgba(58, 53, 65, 0.68);
        .link {
          color: #9155fd;
        }
      }
    }
  }
  .tree {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .leaf {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (max-width: 768px) {
    .wrapper {
      padding: 34px;
      width: 90%;
      .content {
        .greeting {
          h2 {
            font-size: 15px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
    .tree,
    .leaf {
      display: none;
    }
  }
}
