:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.container {
  display: flex;
  background-color: #f4f5fa;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  @media only screen and (max-width: 783px) {
    
  }
}
.menu {
  flex: 1;
  display: block;
  max-width: 260px;
  margin-right: 40px;
}
.main {
  flex: 4;
  min-width: 1440px;
  padding: 0 20px 20px;
  margin-top: 70px;
  @media only screen and (min-width: 784px) and (max-width: 829px)  {
    min-width: 792px;
  }
  @media only screen and (min-width: 830px) and (max-width: 949px)  {
    min-width: 833px;
  }
  @media only screen and (min-width: 950px) and (max-width: 991px)  {
    min-width: 869px;
    max-width: 959px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1122px) {
    min-width: 975px;
    max-width: 997px;
  }
  @media only screen and (min-width: 1123px) and (max-width: 1252px) {
    min-width: 1122px;
  }
  // @media only screen and (min-width: 1154px) and (max-width: 1243px) {
  //   min-width: 1263px;
  // }
 
  @media only screen and (min-width: 1253px) and (max-width: 1460px) {
    min-width: 1248px;
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (max-width: 783px) {
  .main {
    flex: 1;
    display: block;
    max-width: 390px;
    min-width: 0 !important;
    margin-top: 70px;
    padding: 0 0px 20px !important;
    width: 100%;
  }
  .menu {
    z-index: 1;
    display: none;
  }
}
