.modalCreateContace-container {
    
}
.item{
    padding: 10px;
    
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn-1 {
        width: 65%;
        background-color: #1976d2;
        &:hover {
            opacity: 0.8;
            background-color: #1976d2 !important;
        }
    }
    .btn-2 {
        width: 65%;
        background-color: #804bdf;
        &:hover {
            opacity: 0.8;
            background-color: #804bdf !important;
        }
    }

}

@media (max-width: 768px) {
    .modalCreateContace-container {
        .item{
    
        }
    }
}