.account-container {
  .img-info {
    display: flex;
    align-items: center;
    gap: 25px;
    .avatar {
    }
    .actions {
      .top {
        display: flex;
        gap: 15px;
        .btn-reponsive {
          width: 195px span {
            text-decoration: none;
            background-color: rgb(128, 75, 223);
            box-shadow: rgba(58, 53, 65, 0.56) 0px 6px 18px -8px;
          }
        }
      }
    }
  }
  .form-info {
    .form-left {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }
    .form-right {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }
  }
  .btn-action {
    display: flex;
    gap: 15px;
  }
  @media (max-width: 768px) {
    .img-info {
      width: 0;
      .actions {
        width: 150px;
        .top {
          display: flex;
          gap: 15px;
          flex-direction: column;
          .btn-reponsive {
            width: 150px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.security-container {
  display: flex;
  flex-direction: column;
  .top {
    margin-bottom: 15px;
    .left {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 20px;
      gap: 20px;
    }
    .right {
      text-align: center;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
    .access {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .content {
      text-align: center;
    }
    .actions {
      display: flex;
      gap: 15px;
    }
  }
}
