.info {
  display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 15px;
  .left {
    .avatar {
      width: 40px;
    border-radius: 30px;
    height: 40px;
    }
  }
  .right {
    .name {
      font-size: 17px;
      font-weight: 600;
    }
    .role {
      font-size: 12px;
      color: #b4b3b3;
    }
  }
}